@import 'src/breakpoints';

.item {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center; /* Wyśrodkowanie w osi X */
  align-items: center; /* Wyśrodkowanie w osi Y */
  padding: 30px;
  color: #2C3639;
  border: 2px solid #2C3639;
  border-width: 2px 2px 0px 2px;
  background-color: #B7B7B7;
}

.item:hover {
  background-color: #EDE4E0;
}

.name {
  flex: 1;
}

.price {
  flex: 1;
  text-align: center;
}

.buttonContainer {
  flex: 1;
  text-align: center;
}

.remove {
  background-color: #F3E0B5;
}


.name {
  font-size: 2vw;
}

@media screen and (min-width:$screen-md-min) and (max-width:$screen-lg-min) {
  .item {
    padding: 30px 25px;
    width: 90%;
    margin: auto;
  }

}

@media screen and (max-width:$screen-md-min) {
  .item {
    padding: 25px 10px;
    width: 90%;
    margin: auto;
  }

  .name, .price {
    font-size: 16px;
  }
}
