header {
  text-align: center;
  background-color: deepskyblue;
  color: navy;
  margin-top: 0;
  padding-top: 0;
  height: 100px;
  width: 100%;
  line-height: 100px;
  font-size: large;
}

nav {
  text-align: center;
  border-radius: 30px;
  background-color: #3D8361;
  width: 60%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

nav a {
  text-decoration-line: none;
  border-radius: 30px;
  width: 100%;
  font-size: 2.5rem;
  padding: 55px 35px 55px 35px;
  color: #2C3639;
}


nav a.active {
  background-color: #90B77D;
  text-decoration-line: none;
}
