<!-- <header>
  <h1>
    Welcome to {{ title }}
  </h1>
</header> -->
<nav mat-tab-nav-bar>

  <a
    mat-tab-link
    routerLink="/home"
    routerLinkActive="active"
    mat-button
  >
  O nas
  </a>
  <a
    mat-tab-link
    routerLink="/offer"
    routerLinkActive="active"
    mat-button
  >
  Oferta
  </a>
  <a
    mat-tab-link
    routerLink="/contact"
    routerLinkActive="active"
    mat-button
  >
  Kontakt
  </a>
  <a
    mat-tab-link
    routerLink="/basket"
    routerLinkActive="active"
    mat-button
    class="__right_edge"
  >
  Koszyk
  </a>
</nav>
<router-outlet></router-outlet>
