<header>
  <div>
    <h1>
      Welcome to {{ title }}
    </h1>
  </div>
</header>
<nav>
  <a
    routerLink="/home"
    routerLinkActive="active"
    mat-button
  >
  O nas
  </a>
  <a
    routerLink="/offer/all"
    routerLinkActive="active"
    mat-button
  >
  Oferta
  </a>
  <a
    routerLink="/contact"
    routerLinkActive="active"
    mat-button
  >
  Kontakt
  </a>
  <a
    routerLink="/basket"
    routerLinkActive="active"
    mat-button
    class="__right_edge"
  >
  Koszyk
  </a>
</nav>
<router-outlet></router-outlet>
