<div class="contents">
  <p>
    Nasz sklep jest największym sklepem z grami planszowymi w Polsce. W naszej ofercie znajdują się zarówno najnowsze tytuły jak i znane klasyki.
    Ponadto oferujemy również szeroki wybór kart i wszelkich gier karcianych od najpopularniejszych po kompletnie zmieniające sposoby karcianej
    rozrywki. Na wyposażeniu naszego sklepu jest również ogromna ilość akcesoriów do gier, takich jak kości wszystkich możliwych typów czy
    figurki pasujące do zróżnicowanych światów gier RPG. Oprócz tego posiadamy bardzo duży wybór plansz do gier, kart postaci, a nawet masek.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus, nunc sit amet mattis cursus, dolor felis congue lectus,
    nec pretium urna quam faucibus quam. Ut et mauris fermentum, varius mauris congue, efficitur sem. Aliquam erat volutpat.
    Quisque vel ultricies sapien. Nunc ac sem ac metus faucibus consequat. Duis consequat volutpat mi, cursus interdum ex pharetra vel.
    Suspendisse sollicitudin semper ante ac sagittis. Pellentesque pulvinar commodo ex, ac placerat ex. Proin vulputate interdum odio sed pulvinar.
    Pellentesque ipsum leo, mollis vel scelerisque sit amet, volutpat eget risus. Phasellus eget tellus eu felis malesuada euismod vel et justo.
    Suspendisse quis quam ac elit posuere maximus non id lacus. Donec elementum dolor eu molestie tincidunt. Nullam id mollis justo, nec viverra sem.
    Donec eu orci ac ante vehicula vestibulum at ut libero. Proin nec finibus enim, eget ornare ex. Curabitur molestie a odio sed cursus.
    Etiam et fermentum orci. Proin quis mi neque. Donec accumsan facilisis cursus. Mauris justo sapien, mattis et tempor sed, tempor et mi.
    Quisque et malesuada risus. Sed nec ullamcorper justo, vel tempus lorem. Ut leo neque, pulvinar quis aliquam sed, volutpat ac nunc.
    Sed et blandit mauris. Nullam a semper nulla, sit amet finibus ante. Phasellus molestie elit euismod sapien euismod viverra.
    Proin eget velit eu dolor commodo sodales. Morbi congue mi dolor, et hendrerit velit cursus nec. Aenean dignissim sem et vestibulum gravida.
    In hac habitasse platea dictumst. Donec nec lectus sit amet nisl accumsan condimentum. Donec viverra dapibus sagittis. Etiam efficitur dolor
    lacus, in consequat quam sodales eu. Integer rutrum orci nisl, ut congue nisl facilisis ac. Fusce ac tempor nisl. Fusce eu ipsum eget arcu
    laoreet fermentum. Duis ultrices maximus ornare. Morbi scelerisque bibendum aliquet. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Nam a consectetur dolor. Mauris elit risus, imperdiet quis lorem eu, varius imperdiet nunc. Donec sed dui egestas ex vulputate mollis.
    Integer id nulla venenatis turpis interdum accumsan eu quis ligula. Donec molestie vel odio ut aliquet. Etiam aliquam libero justo, in commodo
    dolor sodales non. Suspendisse potenti. Phasellus aliquet bibendum nisl, sit amet eleifend arcu molestie ac. Donec suscipit vestibulum lorem,
    vitae facilisis mauris lobortis ac. In in laoreet metus, vel sollicitudin nulla. Maecenas semper mattis diam, sed ornare dolor egestas quis.
    Cras sagittis, lectus id suscipit imperdiet, justo urna posuere metus, eu condimentum sem justo iaculis nulla. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Nunc id lacus placerat, accumsan erat in, dignissim ipsum. Maecenas pharetra tempor
    tortor id lacinia. Etiam ac massa sit amet metus suscipit fermentum. Proin id egestas ipsum. Praesent egestas orci leo, at hendrerit dui
    eleifend ut. Cras id dui scelerisque purus egestas tincidunt sed vel neque.
  </p>
  <div
    class="button__container"
  >
    <button
      class="rules"
      mat-raised-button
      (click)="showRules()"
    >
      Pokaż regulamin
    </button>
  </div>
</div>

<ng-template
  #dialogTemplate
>
  <mat-dialog-content
    class="rules__dialog"
  >
    <button
      (click)="closeRules()"
      class="close__dialog"
    >
      <mat-icon>
        cancel
      </mat-icon>
    </button>
    <div class="content-container">
      <h1>Regulamin sklepu internetowego "Planszówkowo"</h1>

      <h2>§ 1. Postanowienia ogólne</h2>

      <ol>
        <li>Sklep internetowy "Planszówkowo" prowadzony jest pod adresem Plac Politechniki 111, 504-23 Warszawa.</li>
        <li>Sklep "Planszówkowo" oferuje sprzedaż gier planszowych i związanych z nimi produktów.</li>
        <li>Kontakt z obsługą sklepu "Planszówkowo" jest możliwy za pośrednictwem:
          <ul>
            <li>numeru telefonu: <a href="tel:123456789">123456789</a></li>
            <li>adresu e-mail: <a href="mailto:planszowkowo_gierki@mymail.pl">planszowkowo_gierki@mymail.pl</a></li>
          </ul>
        </li>
      </ol>

      <h2>§ 2. Zamówienia</h2>

      <ol>
        <li>Składając zamówienie w sklepie "Planszówkowo", Klient potwierdza akceptację niniejszego regulaminu.</li>
        <li>Zamówienia można składać za pośrednictwem strony internetowej sklepu "Planszówkowo" lub poprzez kontakt telefoniczny lub e-mailowy.</li>
        <li>Po złożeniu zamówienia, Klient otrzyma potwierdzenie przyjęcia zamówienia wraz z informacjami dotyczącymi realizacji.</li>
      </ol>

      <h2>§ 3. Ceny i płatności</h2>

      <ol>
        <li>Wszystkie ceny podane w sklepie "Planszówkowo" są wyrażone w dolarach amerykańskich (USD) i zawierają podatek VAT.</li>
        <li>Klient ma możliwość dokonania płatności za zamówienie za pomocą:
          <ul>
            <li>przelewu bankowego</li>
            <li>płatności elektronicznych (np. karta płatnicza, system płatności online)</li>
          </ul>
        </li>
        <li>Zamówienia realizowane są po otrzymaniu pełnej zapłaty.</li>
      </ol>

      <h2>§ 4. Dostawa</h2>

      <ol>
        <li>Sklep "Planszówkowo" realizuje dostawy na terenie Polski.</li>
        <li>Koszt dostawy oraz czas realizacji zamówienia są określone podczas składania zamówienia.</li>
        <li>Klient ponosi odpowiedzialność za podanie prawidłowych danych adresowych, umożliwiających dostarczenie zamówienia.</li>
      </ol>

      <h2>§ 5. Reklamacje i zwroty</h2>

      <ol>
        <li>Klient ma prawo do zgłoszenia reklamacji w przypadku otrzymania uszkodzonego lub niezgodnego z zamówieniem towaru.</li>
        <li>Reklamacje należy zgłaszać za pośrednictwem kontaktu telefonicznego lub e-mailowego podanego w § 1.</li>
        <li>Warunki zwrotu towaru i rozpatrzenia reklamacji są określone w przepisach obowiązującego prawa, w szczególności w Kodeksie Cywilnym.</li>
      </ol>

      <h2>§ 6. Ochrona danych osobowych</h2>

      <ol>
        <li>Sklep "Planszówkowo" gwarantuje poufność danych osobowych Klientów oraz ich ochronę zgodnie z obowiązującymi przepisami prawa.</li>
        <li>Podanie danych osobowych jest dobrowolne, jednakże niezbędne do realizacji zamówienia.</li>
        <li>Szczegółowe informacje dotyczące przetwarzania danych osobowych znajdują się w <a href="polityka-prywatnosci.html">Polityce Prywatności</a> dostępnej na stronie sklepu "Planszówkowo".</li>
      </ol>

      <h2>§ 7. Postanowienia końcowe</h2>

      <ol>
        <li>Niniejszy regulamin stanowi integralną część umowy sprzedaży zawartej między sklepem "Planszówkowo" a Klientem.</li>
        <li>Sklep "Planszówkowo" zastrzega sobie prawo do zmiany regulaminu. Zmiany wchodzą w życie od momentu opublikowania ich na stronie internetowej sklepu.</li>
        <li>W sprawach nieuregulowanych w niniejszym regulaminie zastosowanie mają przepisy obowiązującego prawa polskiego.</li>
      </ol>

      <p>Regulamin sklepu "Planszówkowo" obowiązuje od dnia jego opublikowania.</p>
    </div>
  </mat-dialog-content>
</ng-template>
