.item {
  width: 400px;
  height: 300px;
  position: relative;

}

img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.details {
  background-color: lightgray;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.add {
  background-color: orange;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
