@import 'src/breakpoints';

.contents__not__found {
  width: 70%;
  margin: auto;
  text-align: justify;
  font-size: 25px;
  background-color: #90B77D;
  padding: 30px;
  border-radius: 30px;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-color: #483838;
  color: #2C3639;
  margin-bottom: 50px;

  & h1 {
    font-size: 60px;
  }
}

button {
  border: 3px solid #2C3639;
  margin: 30px;
  background-color: #D6CDA4;
  width: 350px;
  height: 80px;
  padding: 30px;
  font-size: 1em;
}

@media screen and (min-width:$screen-md-min) and (max-width:$screen-lg-min) {
  .contents__not__found {
    width: 80%;
    font-size: 20px;
    padding: 25px;

    & h1 {
      font-size: 50px;
    }
  }

  button {
    width: 300px;
    margin: 0px;
    margin-top: 15px;
    padding: 20px;
  }
}

@media screen and (max-width:$screen-md-min) {
  .contents__not__found {
    width: 100%;
    font-size: 16px;
    padding: 20px;

    & h1 {
      font-size: 25px;
    }
  }

  button {
    width: 250px;
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
  }
}
