// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

@import 'breakpoints';

// $Planszowo-primary: mat.define-palette(mat.$indigo-palette);
// $Planszowo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $Planszowo-primary: mat.define-palette($mat-light-blue, (

$Planszowo-primary: mat.define-palette(mat.$cyan-palette, 300, 100, 500);

$Planszowo-accent: mat.define-palette(mat.$blue-palette, 700, 300, 900);

$Planszowo-warn: mat.define-palette(mat.$red-palette);

$Planszowo-theme: mat.define-light-theme((
  color: (
    primary: $Planszowo-primary,
    accent: $Planszowo-accent,
    warn: $Planszowo-warn,
  )
));

@include mat.all-component-themes($Planszowo-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #9F8772;
  overflow-y: scroll;
}

.contents {
  width: 70%;
  margin: auto;
  text-align: justify;
  font-size: 24px;
  background-color: #90B77D;
  padding: 30px;
  border-radius: 30px;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-color: #483838;
  color: #2C3639;
  margin-bottom: 50px
}

@media screen and (min-width:$screen-md-min) and (max-width:$screen-lg-min) {
  body {
    padding: 0 12px 12px 12px;
  }

  .contents {
    width: 80%;
    font-size: 20px;
    padding: 15px;
  }
}

@media screen and (max-width:$screen-md-min) {
  body {
    padding: 0 8px 8px 8px;
  }

  .contents {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    padding-bottom: 15px;
  }
}
