.wrap__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
}


.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.data__info {
  color: #2C3639;
  font-size: 1.9rem;
  word-spacing: -3px;
}
