<div class="wrap__wrapper">
  <div
    class="wrapper"
  >
    <h3
      *ngIf="gamesList == null || (displayedItems.length == 0 && gamesList != null)"
    >
      <ng-container
        *ngIf="gamesList == null"
      >
        <br>
        <br>
        <mat-icon>
          autorenew
        </mat-icon>
        Chwileczkę...
      </ng-container>
      <ng-container
        *ngIf="displayedItems.length == 0 && gamesList != null"
      >
        Nie odnaleziono elementów dla zadanych filtrów wyszukiwania
      </ng-container>
    </h3>
    <pw-item
      *ngFor="let item of displayedItems; let i = index"
      [pwProduct]="item"
    >
    </pw-item>
  </div>
</div>
