.wrap__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}


.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.data__info {
  color: navy;
  font-size: 30px;
  font-family: 'Comic Sans MS', sans-serif;
  word-spacing: -3px;
}

// .wrapper:last-child {
//   margin-right: auto;
// }
