@import 'src/breakpoints';

form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 10px;
  color: #2C3639;
  margin-bottom: 30px;
}

.inputs {
  text-align: center;
  justify-self: end;
  grid-column: 1;
  grid-row: span 2;
  margin-right: 30px;
}

.reset, .send {
  grid-column: 2;
  width: 40%;
  margin-left: 20px;
  background-color: #F3E0B5;
  font-size: 18px;
  border-radius: 10px;
}

.reset {
  grid-row: 1;
  top: 25px;
  margin-bottom: 5px;
}

.send {
  grid-row: 2;
  bottom: 25px;
  margin-top: 5px;
}

.radio__input:checked {
  background-color: #483838;
}

.name__input {
  width: 200px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  display: block;
  font-size: 18px;
  border: 2px solid #483838;
  border-radius: 10px;
  background-color: #D6CDA4;
}

input[type="text"]:focus {
  outline: none;
  background-color: #F3E0B5;
}

@media screen and (max-width:$screen-md-min) {
  form {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
  }

  h3 {
    font-size: 22px;
  }

  .inputs {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
  }

  .reset,
  .send {
    grid-column: 1;
    width: 40%;
    margin: auto;
    top: auto;
    bottom: auto;
  }

  .send {
    grid-row: 2;
  }

  .reset {
    grid-row: 3;
  }
}
