<form
    [formGroup]="form"
    (ngSubmit)="changeActiveFilters()"
  >
  <div class="inputs">
    <h3>Minimalna liczba graczy</h3>
    <mat-radio-group
      formControlName="minPlayers"
    >
      <mat-radio-button
        class="radio__input"
        matInput
        value=2
      >
        2
      </mat-radio-button>
      <mat-radio-button
        class="radio__input"
        matInput
        value=4
      >
        4
      </mat-radio-button>
    </mat-radio-group>

    <h3>Maksymalna liczba graczy</h3>
    <mat-radio-group
      formControlName="maxPlayers"
    >
      <mat-radio-button
        class="radio__input"
        matInput
        type="radio"
        value=4
      >
        4
      </mat-radio-button>
      <mat-radio-button
        class="radio__input"
        matInput
        type="radio"
        value=6
      >
        6
      </mat-radio-button>
    </mat-radio-group>
    <input
      class="name__input"
      matInput
      type="text"
      formControlName="name"
      placeholder="Jakiej gry szukasz?"
      value=""
    >
  </div>
  <button
    class="send"
    mat-raised-button
    type="submit"
  >
  Szukaj
  </button>
  <button
    class="reset"
    mat-raised-button
    (click)="setFiltersToDefault()"
    *ngIf="isDefault == false"
  >
    Usuń filtry
  </button>
</form>
