<nav class="navigate">
  <form [formGroup]="form" (ngSubmit)="changeActiveFilters()" >
  <h3>Minimum players</h3>
  <input
    matInput
    type="radio"
    formControlName="minPlayers"
    value=2
  >
  <label
  >
    2
  </label>
  <input
    matInput
    type="radio"
    formControlName="minPlayers"
    value=4
  >
  <label
  >
    4
  </label>
  <h3>Maximum players</h3>
  <input
    matInput
    type="radio"
    formControlName="maxPlayers"
    value=4
  >
  <label
  >
    4
  </label>
  <input
    matInput
    type="radio"
    formControlName="maxPlayers"
    value=6
  >
  <label
  >
    6
  </label>
  <input
    matInput
    type="text"
    formControlName="name"
    value=""
  >
  <button
    mat-raised-button
    type="submit"
  >
  Search
  </button>
  <button
    mat-flat-button
    (click)="setFiltersToDefault()"
    *ngIf="isDefault == false"
  >
    Usuń filtry
  </button>
</form>
</nav>
